<div class="table_container col-md-11 my-5">
  <h2 id="<%= query_id %>">
    <a href="#<%= query_id %>">#</a>
    <%= title %>,
    <small><a href="<%= basename(:csv) %>">CSV</a></small>
    <small><a href="<%= basename(:json) %>">JSON</a></small>
  </h2>

  <% if description %>
    <div class="alert alert-secondary" role="alert">
      <%= description %>
    </div>
  <% end %>

  <table id="<%= html_table_id %>" class="rspec_table table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
      <tr>
        <% for header in table_headers %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function() {
      Table.define('<%= html_table_id %>', '<%= query_id %>', '<%= basename(:json) %>');
    });
  </script>
</div>
<hr/>
